:root {
	--background-color: #fdfdfd;
}

*,*::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: #ececec;
	color: var(--text-color);
	letter-spacing: -1px;
	font-family: 'Inter', sans-serif;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

a {
	/* color:  */
}

p {
	line-height: 1.5;
}

h1 {
	font-size: 2rem;
	margin-bottom: 0 0 1em 0;
}

h2 {
	font-size: 1rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.row {
	display: flex;
	flex-direction: row;
}

.column {
	display: flex;
	flex-direction: column;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
